!!! 5
html(lang='en')
  include includes/head
  body 
    div.navbar.navbar-fixed-top
      //- != partial('navigation.jade') 
      include includes/navigation
    div.container#content
      //- include ../public/content/about.html
