!!! 5
html(lang='fr')
  include includes/head
  body 
    div.navbar.navbar-fixed-top
      include includes/navigation
    div.container#content
    script(src='/javascripts/nvie.js')
    include includes/foot
