script $('.dropdown-toggle').dropdown()
div.navbar-inner
  div.container
    ul.nav
      li
        a.brand(href="/") Nvie
      li
        a(href="/cv") CV
      li
        a(href="/about") About
      li
        a(href="/contact") Contact
    ul.nav.pull-right
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown", href="#") Language
          b.caret
        ul.dropdown-menu
          li
            a(href="#") Fran&ccedil;ais
          li
            a(href="#") English
          li
            a(href="#") Chinese

